html{
		overflow-x: hidden;
		background-color: #f5f5f5;
	}
	*{
		margin: 0px;
	}
	body{
		margin: 0px;
		font-family: 'Poppins', sans-serif;
	}
	nav{
		background-image: linear-gradient(to right,#4c96d7 20%,#bbff9c);
		height: 100px;
		box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
	}
	aside{
		background-color: black;
		width:20%; 
		height: 100vh;
		color: white;
		padding: 2% 0.5%;
		text-align: center;
		position: fixed;
	}
	.page{
		display: flex;
	}
	li:hover, li:active{
		padding-left: 8%;
		transition: 0.3s;
	}
	h2{
		font-weight: normal;
		margin-bottom: 10px;
	}
	ul{
		text-align: left;
		cursor: pointer;
		padding-left: 5%;
		list-style: none;
		line-height: 5.0em;
		letter-spacing: 2px;
	}
	.main{
		position: relative;
		margin-left: 21%;
		width: 100%;
	}
	#backimg{
		position: relative;
		height: 60vh;
		width: 100%;
		background-position: top;
		background-size: cover;
		background-image: url('images/intro.jpg');
		z-index: -1;
		box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
	}
	.list_cat{
		padding-right: 15px;
	}
	.viewbutton{
		border-radius: 50%;
		width: 35px;height: 35px;
		padding: 5px;
		margin: 0px 5%;
		background-color: transparent;
	}
	.navbut{
		float: right;
		background-color: transparent;
		margin: 40px 20px 0px;
		color: black;
		font-size: 20px;
	}
	.navbut:hover{
		color:#4c96d7;
		border-bottom: 1px #4c96d7;
	}
	button{
		outline: none;
		cursor: pointer;
		border: none;
	}
	a{
		cursor: pointer;
		text-decoration: none;
	}
	.viewbutton:hover{
		background-color: #4c96d7;
	}
	.cond, .sn, .bn, .bcat, .ba, .bp{
		line-height: 1.8em;
	}
	.bn{
		text-align: center;
	}
	.sn , .cond{
		line-height: 3em;
	}
	.procont{
		display: flex;
	}
	.products{
		display: flex;
	}
	.bi{
		margin-right: auto;
		margin-left: auto;
		display: block;
		width: 200px;
	}
	.hov1{
		margin: 0px;
		width: auto;
		border-left: none;
	}
	.subpro{
		width: 240px;
		height: 500px;
		padding: 20px 30px;
		box-shadow: 1px 1px 1px rgba(0,0,0,0.2), -1px -1px 1px rgba(0,0,0,0.2);
		margin: 4%;
		display: block;
		background-color: rgba(255,255,255,0.8);
	}
	.subpro:hover{
		box-shadow: 2px 2px 3px #4c96d7,-2px -2px 5px #bbff9c ;
		transition: 0.2s;
		transform: scale(1.03);
		cursor: pointer;
		background-color: white;
	}
	#star:hover{
		background-color: yellow;
		height: 15px;
		transform: scale(1.5);
		border-radius: 50%;
		transition: 0.2s;
		cursor: pointer;
	}
	footer{
		padding: 20px 10%;
		display: flex;
		background: linear-gradient(to right,rgba(76, 150, 215,0.8) 20%,rgba(187, 255, 156,0.5)), url('images/trans1.png');
	}
	footer div{
		width: 45%;
	}
	footer div p{
		width: 80%;
	}
	footer div a{
		color: black;
		line-height: 2em;
	}
	footer div a:hover{
	    text-decoration: none;
	}
	.btn-cat{
		position: fixed;
		z-index: 1;
		width: 50px;
		height: 40px;
		border-radius: 0px 50px 50px 0px;
		background-color: yellow;
		display: none;
	}
	.lo{
		margin-top: -50px;
		position: absolute; 
		padding-left: 2.5%;
		cursor: pointer;
	}

	#search-bar{
		height: 50px;
		background-color: #bbff9c;
		padding: 10px 0px 0px 30px;
		box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
	}
	#hino{
		display: none;
	}
	#search{
		width: 80%;
		height: 30px;
		outline: none;
		font-size: 18px;
		border: none;
		padding-left: 10px;
	}
	.wrap{
		margin-top: 2px;
		background-color: white;
		width:95%; 
		border-radius: 50px;
		box-shadow: 1px 1px 3px  #4c96d7;
	}
	#s-logo{
		font-size: 22px;
		margin:5px 0px 0px 10px;
		color:  #4c96d7;
	}
	#menu{
		float: right;
		margin-top: 41px;
		background-color: transparent;
		color: #4c96d7;
		margin-right: 21px;
		font-size: 18px;
		display: none;
	}
	@media all and (max-width: 768px)
    {
    	body{
    		font-size: 13px;
    	}
    	footer{ padding: 10px; display: block;} 
		footer div{ width: 98%; margin-top: 20px; }
		.lo{
			width: 150px;
			margin-top: -25px;
		}
		#hi{
			display: none;
		}
		#menu{
			display: block;
		}
		.navbut{
			font-size: 18px;
			float: none;
			position: absolute;
			text-align: center;
			width: 90%;
			line-height: 20px;
			color: white;
		}
		#in_hino{
			display: none;
		}
		.page{
			display: block;
		}
		.main{
			width: 100%;
			margin: 0px;
		}
		.btn-cat{
			display: block;
			transition: 1s;
		}
		#hino{
			background-color: black;
			padding-bottom: 0px;
			transition: 1s;
			height: 0px;
			display: block;
		}
		aside{
			width: 0px;
			height: 100vh;
			padding: 0px;
			transition: 1s;
			z-index: 1;
		}
		#inside_aside{
			display: none;
		}
		.products{
			display: block;
		}
		.subpro{
			display: flex;
			width: 85%;
			height: auto;
			padding: 20px 10px;
			margin: 5%;
		}
		.bi{
			width: 130px;
			margin-left: 10px;
		}
		.hov1{
			margin-left: 10px;
		}
		#star{
			font-size: 20px;
		}
    }
